Python Data Types

Numeric

In [1]:
a = 4
print("Type of a: ", type(a))

Type of a:  <class 'int'>

In [5]:
lst1 = [1,2,3]

In [6]:
dir(lst1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [2]:
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [4]:
print(a.to_bytes)

<built-in method to_bytes of int object at 0x0000015BE4666990>

In [7]:
b = 2.0
print("\nType of b: ", type(b))

Type of b:  <class 'float'>

c = 2 + 7j
print("\nType of c: ", type(c))

Arithmetic operators

In [26]:
sum_value = a+b
print(sum_value)

6.0

In [11]:
multiply = a*a
print(multiply)

16

In [ ]:
divide = b/2
print(divide)

Sequence

In [12]:
string1 = 'hello world'
string2 = "hello world"
string3 = '''hello world'''
print(str(type(string1)) + " " + str(type(string2)) + " " + str(type(string3)))

<class 'str'> <class 'str'> <class 'str'>

Accessing elements of string

In [13]:
print(string1[0])

h

String Concatination and repetition

In [16]:
str1 = "hello"
str2 = "world"
print(str1+str2)
print(str1*4)
print((str1+" world! ") *4)

helloworld
hellohellohellohello
hello world! hello world! hello world! hello world!

In [21]:
print(f"hi world, {str1} {str2}")

hi world, hello world

In [24]:
fname = "John" 
age = 36
txt1 = "My name is {fname}, I'm {age}".format(fname ="john",age=36)
print(txt1)

My name is john, I'm 36

Lists

In [31]:
list1 = []
list2 = [1,'hi',4.0]
list3 = [["this","is",'a'],["multidimentional","list",4.0]]

In [32]:
print(list1)
print(list2)
print(list3)

[]
[1, 'hi', 4.0]
[['this', 'is', 'a'], ['multidimentional', 'list', 4.0]]

In [48]:
print(list3[1][0:2])

['multidimentional', 'list']

In [36]:
list4 = list('123456789')
list4

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [38]:
list4[3]

'4'

In [41]:
list4[3]='100'

In [43]:
if list4[3] ==99:
    print("yes")
else:
    print("no")

no

In [40]:
list4

['1', '2', '3', 'L', '5', '6', '7', '8', '9']

In [ ]:
lst10 = []

In [45]:
list4[len(list4)-1]

'9'

Accessing elements of List

In [47]:
print(list2[1])
print(list3[1][0])
print(list4[-3])

hi
multidimentional
7

Tuple

In [ ]:
tuple1 = ()
tuple2 = ('hi',4.0,[1,'world'])

In [ ]:
tuple3 = (tuple1,tuple2)

In [ ]:
print(tuple1)
print(tuple2)
print(tuple3)

Accessing Tuples

In [ ]:
print(tuple2[-1])
print(tuple2[-1][1])

In [ ]:
print(tuple3[1])
print(tuple3[1][2])
print(tuple3[1][2][1])

In [ ]:
tuple3[1][2] = 1

In [ ]:
tuple3[0] = 1

In [ ]:
tuple3[1][2][1] = "WORLD"

In [ ]:
print(tuple3[1][2][1])

In [ ]:
print(type(tuple3))
print(type(tuple3[1][2]))

Boolean

In [ ]:
val1 = True
val2 = False

In [ ]:
print(type(val2))

In [ ]:
val2 = True

In [ ]:
val3 = true

Set

In [ ]:
set1 = set()
set2 = set("sequence")

In [ ]:
print(set1)
print(set2)

In [ ]:
print(set2[1])

In [ ]:
for element in set2:
    print(element, end=" ")

Dictionary

In [ ]:
dict1 = {}
dict2 = {1:"one", 2:"two", 3:"three", 2.0: "two"}
dict3 = {"name" : "Besant Techonologies", "course" : "Data Science & AI", "students_name" : ["abc","xyz"], 1: "one" }
dict4 = dict({1: 'one', 2: 'two', 3:'three'}) 
dict5 = dict([(1, 'one'), (2, 'two')])

In [ ]:
print(dict1)
print(dict2)
print(dict3)
print(dict4)
print(dict5)

Accessing elements of a dictionary

In [ ]:
print(dict2[3])
print(dict3["students_name"])
print(dict3["students_name"][1])

In [ ]:
print(dict2.values())
print(dict3.keys())
print(dict3.items())
print(dict4.get(2))

None

In [ ]:
nothing = None
print(type(nothing))

len()
str()
bool()