## Tuple

A tuple is an ordered collection of values, similar to a list. However, it is not possible to add, remove, or modify values in a tuple. A tuple is created by enclosing values within parentheses ( and ), separated by commas.

Any data structure that cannot be modified after creation is called immutable. You can think of tuples as immutable lists.

In [1]:
fruits = ('apple', 'cherry', 'dates')

In [2]:
# check no. of elements
len(fruits)

3

In [3]:
# get an element (positive index)
fruits[0]

'apple'

In [5]:
# get an element (negative index)
fruits[-2]

'cherry'

In [6]:
# check if it contains an element
'dates' in fruits

True

In [7]:
# try to change an element
fruits[0] = 'avocado'

TypeError: 'tuple' object does not support item assignment

In [8]:
# try to append an element
fruits.append('blueberry')

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
# try to remove an element
fruits.remove('apple')

AttributeError: 'tuple' object has no attribute 'remove'

You can also skip the parantheses ( and ) while creating a tuple. Python automatically converts comma-separated values into a tuple.

In [11]:
the_3_friends = 'Amar', 'Akbar', 'Anthony'

In [12]:
the_3_friends

('Amar', 'Akbar', 'Anthony')

You can also create a tuple with just one element by typing a comma after it. Just wrapping it with parentheses `(` and `)` won't make it a tuple.

In [13]:
single_element_tuple = 4,

In [14]:
single_element_tuple

(4,)

In [15]:
another_single_element_tuple = (4,)

In [17]:
another_single_element_tuple

(4,)

In [18]:
not_a_tuple = (4)

In [21]:
print(type(not_a_tuple))

<class 'int'>

Tuples are often used to create multiple variables with a single statement.

In [22]:
point = (3, 4)

In [23]:
point_x, point_y = point

In [24]:
point_x

3

In [25]:
point_y

4

You can convert a list into a tuple using the `tuple` function, and vice versa using the `list` function

In [26]:
tuple(['one', 'two', 'three'])

('one', 'two', 'three')

In [27]:
list(('Amar', 'Akbar', 'Anthony'))

['Amar', 'Akbar', 'Anthony']

Tuples have just two built-in methods: `count` and `index`.

You could look for documentation, there's an easier way to check a method's documentation, using the `help` function.

In [28]:
a_tuple = 23, "hello", False, None, 23, 37, "hello"

In [29]:
help(a_tuple.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

In [36]:
a_tuple.count(23)

2

In [38]:
a_tuple.index(37)

5

In [40]:
a_tuple.index("hello")

1